.bg-black {
    background-color: #3f3c6e;
}

.white-70 {
    color: #c7c9d6;
}

.twitter, .github, .linkedin {
    fill: #c7c9d6;
    -webkit-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -ms-transition: fill 0.2s;
    -o-transition: fill 0.2s;
    transition: fill 0.2s;
}

.twitter:hover {
    fill: whitesmoke;
}

.github:hover {
    fill: whitesmoke;
}

.linkedin:hover {
    fill: white;
}
